$color-primary: rgba(141, 129, 172, 1);
$color-text: rgba(132, 142, 151, 1);
$color-text-light: rgba(255, 255, 255, 1);
$color-pricing-bg-name: rgba(255, 255, 255, .06);
$color-pricing-bg-name-dark: rgba(0, 0, 0, .11);
$color-pricing-bg: rgba(255, 255, 255, .11);
$color-pricing-bg-dark: rgba(70, 48, 72, .84);
$color-button-light: rgba(255, 255, 255, .15);
$color-header: rgba(99, 92, 115, 1);
$color-subheader: rgba(50, 50, 50, 1);
$color-background: #F4F4F4;
$font-Lato: "Lato", sans-serif;
$font-Montserrat: "Montserrat", sans-serif;




